In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import sklearn as skl 
from sklearn import datasets

from sklearn.model_selection import train_test_split 
from sklearn.datasets import load_iris

from sklearn.linear_model import LogisticRegression

In [208]:
df = pd.read_csv('Titanic.csv')
df_len = len(df)
df = df.dropna()
df = df.drop(['Name','Ticket','Cabin'],axis=1)
df['Sex'] = df['Sex'].map({'male':0, 'female':1})
df['Embarked'] = df['Embarked'].map({'C':1, 'Q':2, 'S':3})
df = df.drop(['PassengerId'],axis = 1)
df_len_2 = len(df)
loss_per = (df_len - df_len_2) / df_len * 100
print('Процент потерянных данных: ', f"{loss_per: .2f}%")
df.iloc[:,1:7]

Процент потерянных данных:   79.46%

     Pclass  Sex   Age  SibSp  Parch     Fare
1         1    1  38.0      1      0  71.2833
3         1    1  35.0      1      0  53.1000
6         1    0  54.0      0      0  51.8625
10        3    1   4.0      1      1  16.7000
11        1    1  58.0      0      0  26.5500
..      ...  ...   ...    ...    ...      ...
871       1    1  47.0      1      1  52.5542
872       1    0  33.0      0      0   5.0000
879       1    1  56.0      0      1  83.1583
887       1    1  19.0      0      0  30.0000
889       1    0  26.0      0      0  30.0000

[183 rows x 6 columns]

In [232]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,1:],df['Survived'], test_size=0.3, random_state=0)
t_clf = LogisticRegression(random_state=0,max_iter=10000)

t_clf.fit(X_train,y_train)
y_pred = t_clf.predict(X_test)
score1 = t_clf.score(X_test,y_test) 

X_train2, X_test2, y_train2, y_test2 = train_test_split(df.iloc[:,1:7],df['Survived'], test_size=0.3, random_state=0) # без Embarked
t2_clf = LogisticRegression(random_state=0,max_iter=10000)
t2_clf.fit(X_train2,y_train2)
y_pred2 = t2_clf.predict(X_test2)
score2 = t2_clf.score(X_test2,y_test2) 

print(score1-score2)

0.0